@let ai = appInfo();
@let ii = indexInfo();
@let c = categories();
@if (!isMobile) {
  <header class="header-wrap">
    <div class="header">
      <a class="logo" routerLink="/" [title]="ai?.name">
        <img src="/favicon.png" [alt]="ai?.name"/><span>{{ ai?.name }}</span>
      </a>
      <ul class="nav">
        <li [class.active]="ii?.isHome">
          <a routerLink="/" title="{{ai?.name}}首页">首页</a>
        </li>
        <li [class.active]="ii?.isPost">
          <a routerLink="/posts" title="期刊">
            <span>期刊</span>
            @if (c.length > 0) {
              <span class="nav-arrow"></span>
            }
          </a>
          @if (c.length > 0) {
            <div class="sub-nav-wrap">
              <div class="sub-nav-list">
                <ul>
                  @for (category of c; track category.id) {
                    <li>
                      <a class="sub-nav-link"
                         [routerLink]="['/category', category.slug]"
                         [title]="category.description">
                        <span>{{ category.name }}</span>
                        @if (!category.isLeaf) {
                          <span class="sub-nav-arrow"></span>
                        }
                      </a>
                      @if (!category.isLeaf) {
                        <div class="child-nav-wrap">
                          <div class="child-nav-list">
                            <ul>
                              @for (subCategory of category.children; track subCategory.id) {
                                <li>
                                  <a class="child-nav-link"
                                     [routerLink]="['/category', subCategory.slug]"
                                     [title]="subCategory.description">{{ subCategory.name }}</a>
                                </li>
                              }
                            </ul>
                          </div>
                        </div>
                      }
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </li>
        <li [class.active]="ii?.subPage === 'about'">
          <a routerLink="/about" title="关于">关于</a>
        </li>
      </ul>
      <div class="actions">
        <div class="search">
          <nz-input-search (nzSearch)="search()">
            <input nz-input
                   type="text"
                   name="keyword"
                   [(ngModel)]="keyword"
                   autocomplete="off"
                   placeholder="搜索全站（支持全文搜索）"/>
          </nz-input-search>
        </div>
        @if (!isSignIn()) {
          <a nz-button nzType="primary" routerLink="/user/signin">登录</a>
        } @else {
          <div class="more-action-group">
            <div class="more-action-nav">
              <nz-icon nzType="user"/><span>{{ user()?.nickname }}</span><span class="nav-arrow"></span>
            </div>
            <div class="more-action-list">
              <div class="sub-nav-list">
                <ul>
                  <li>
                    <a class="sub-nav-link" (click)="gotoAdmin()">
                      <nz-icon nzType="dashboard"/><span>个人中心</span>
                    </a>
                  </li>
                  <li>
                    <a class="sub-nav-link" (click)="signout()">
                      <nz-icon nzType="logout"/><span>退出登录</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </header>
} @else {
  <header class="m-header-wrap">
    <div class="m-header">
      @if (!searchVisible()) {
        <div class="m-header-body">
          <nz-icon nzType="menu" (click)="showSider()"/>
          <a class="m-logo" routerLink="/" [title]="ai?.name">
            <img src="/favicon.png" [alt]="ai?.name"/><span>{{ ai?.name }}</span>
          </a>
          <nz-icon nzType="search" (click)="showSearch()"/>
        </div>
      } @else {
        <div class="m-header-search">
          <div class="m-search-form">
            <nz-input-search (nzSearch)="search()">
              <input nz-input
                     #mSearchInput
                     type="text"
                     name="keyword"
                     nzSize="large"
                     [(ngModel)]="keyword"
                     autocomplete="off"
                     placeholder="搜索全站（支持全文搜索）"/>
            </nz-input-search>
          </div>
          <div class="m-mask m-mask-search" (click)="hideSearch()"></div>
        </div>
      }
    </div>
  </header>
}
